*.o
*.so
*.exe
*grutinizer
*.evt
*.dat
*.cvt
*.gz
*.bz2
*.root
~*
*~
*.swp
*Dict*
*.d
htmldoc
.grut_history
bin
lib
.build
.nfs*
*.pyc
.grut_thread
histos/MakeHistos.cxx
include/GVersion.h
Calibration.cc
histos/#Joe_MakeHistos_1-11-16.cxx#
histos/Joe_MakeHistos_1-11-16.cxx
histos/MakeGRETJABHistos.cxx
histos/MakeHistos.cxx_Stock
histos/MakeHistos_CheckAddback.cxx
histos/MakeHistos_Eff.cxx
histos/MakeHistos_EnCalibration.cxx
histos/MakeHistos_EnVsXtal.cxx
histos/MakeHistos_ForCrossSections.cxx
histos/MakeHistos_ForCrossSections_Unreacted.cxx
histos/MakeHistos_ForXSec_Run113.cxx
histos/MakeHistos_ForXSec_Run114.cxx
histos/MakeHistos_ForXSec_Run115.cxx
histos/MakeHistos_ForXSec_Run117.cxx
histos/MakeHistos_ForXSec_Run118.cxx
histos/MakeHistos_ForXSec_Run119.cxx
histos/MakeHistos_ForXSec_Run120.cxx
histos/MakeHistos_ForXSec_Run121.cxx
histos/MakeHistos_ForXSec_Run122.cxx
histos/MakeHistos_ForXSec_Run123.cxx
histos/MakeHistos_Gamma1DOnly.cxx
histos/MakeHistos_GammaEnergyResolution.cxx
histos/MakeHistos_Source_TripleCoin.cxx
histos/MakeHistos_UCGret_Source.cxx
histos/MakeHistos_e15020.cxx
histos/MakeHistos_e15020_AfterInAndResCuts.cxx
histos/MakeHistos_e15020_HodoCheck.cxx
histos/MakeHistos_e15020_Mask.cxx
histos/MakeHistos_e15020_PID.cxx
histos/MakeHistos_e15020_TOFvsTIME.cxx
histos/MakeHistos_e15020_Unreacted.cxx
histos/MakeHistos_e15040.cxx
histos/MakeHistos_e15040_GenTesting.cxx
histos/MakeHistos_e15040_Mask.cxx
histos/MakeHistos_e15040_PID.cxx
.grut_logon
CheckFS.C
PeakFind.C
Test/
a.out
co56_2.sou
config/invmap_37Ar.inv
hist/
include/#TCompiledHistograms.h#
include/#TFastScint.h#
include/#TJanus.h#
include/#new.cpp#
include/RS800.h
include/TS800.h_OLD
include/TS800Hit.h_OLD
invmap.inv
invmap_37Ar.inv
libraries/SourceData/gs_ho166.sou
libraries/SourceData/ho166.sou
libraries/TDetSystems/TFastScint/TFastScint.cxx_OLD
libraries/TDetSystems/TJanus/#TJanus.cxx#
libraries/TDetSystems/TS800/RS800.cxx.bak
libraries/TDetSystems/TS800/TS800.cxx_OLD
libraries/TDetSystems/TS800/TS800Hit.cxx_OLD
libraries/TGRUTint/#TGRUTOptions.cxx#
libraries/THistogramming/#DynamicLibrary.cxx#
libraries/TLoops/#TChainLoop.cxx#
libraries/TNucleus/#TNucleus.cxx#
libraries/TNucleus/TPeakFinder.cpp
libraries/TNucleus/TTransition.cpp
libraries/TRawFormat/#TRawEventSource.cxx#
pygui/#hist_tab.py#
util/#grut-config#
util/CalculateCrossSection.C
util/CheckUnCalCRDCY_jab.C
util/Check_TOF_71Cu.C
util/Check_TOF_73Cu.C
util/Check_TOF_77Cu.C
util/CoincidenceHelpers.C
util/GetXtalEnVsPhi.C
