[submodule "GRAnalyzer"]
	path = GRAnalyzer
	url = git@github.com:CAGRA-GrandRaiden/GRAnalyzer.git
[submodule "MPIEventLoop"]
	path = MPIEventLoop
	url = git@github.com:CAGRA-GrandRaiden/MPIEventLoop.git
